{% extends "inc/layout.html" %}
{% block title %}gspace{% endblock %}
{% block headerassets %} 
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" /> 
    <link rel="stylesheet" href="http://www.addhen.org/wedding/css/style.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
    <![endif]-->
    <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
{% endblock %}
{% block content %}
    <h2 id="welcome">Background Information</h2>
    <div id="intro">
        <strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Mauris suscipit urna quis orci feugiat faucibus. Nulla accumsan elementum nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed lorem felis, consectetur convallis euismod id, viverra in enim. Maecenas venenatis lobortis odio, ac fringilla turpis ultrices ut. Nulla nec lectus vitae metus aliquet ultricies. Sed vitae orci elit. Vivamus vitae purus ipsum.  
    </div>
    <div id="wrapper">
        <article>
            <h2>A Blank Canvas</h2>
            <p>Donec sagittis, <a href="#" title="GSpace">mauris</a> sed cursus tincidunt, quam neque commodo augue, vitae faucibus orci risus vitae lectus. Praesent eu dictum dui.Nulla vehicula, magna a tempor iaculis, <strong>enim sem gravida velit</strong>, ac pulvinar.  <br /><br /></p>
        </article>
            
        <article>
            <h2>gspace Location</h2>
            <p>The iHub’s location is going to be on the 4th floor of the Bishop Magua Centre on Ngong Road (directly opposite the Uchumi Hyper). It’s an amazing location, with quick access to public transportation, food and the City Centre. 
            View [iHub – Nairobi’s Innovation](http://www.gspace.com) Hub in a larger map</p><br /><br />
            <div id="info_board">
                <h2>We're at</h2>
                <div id="map"></div>
                
<script>
var map = new L.Map('map');
var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/0cb2761ce981414391f2941dd891892c/997/256/{z}/{x}/{y}.png',
    cloudmadeAttrib = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib});

var labadi = new L.LatLng(5.5634, -0.13804);
map.setView(labadi, 17).addLayer(cloudmade);

var labadiMarker = new L.Marker(labadi);
map.addLayer(labadiMarker);
var labadiPopup = new L.Popup();
labadiMarker.bindPopup("<strong>Busy Internet</strong><br />Ring Road East, Accra, Ghana").openPopup();
map.getPanes()["popupPane"].className = "swinging leaflet-popup-pane";
</script>
            </div><br /><br />
            </article>

        <article> 
            <h2>Community Involvement</h2>
            <p>From the beginning, we’ve been working closely with a couple of people from the community to find a place and get some basic items squared away. This advisory group is made up of individuals with a long standing presence in tech locally, including:

Riyaz Bachani, CTO of Wananchi
Josiah Mugambi, Co-Founder of Skunkworks
Rebecca Wanjiku, Tech reporter and entrepreneur
Conrad Akunga, Blogger and Software Manager
Erik Hersman, Tech blogger, Founder of iHub, Founder of AfriGadget and co-Founder of Ushahidi
The space was made possible by funding to Ushahidi by the Omidyar Network and Hivos. Ushahidi covers the lease, electricity and data connections.</p><br /><br />
        </article>
    </div>

{% endblock %}

</script>

