{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}Events{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="info_board">
        <h2>Events Calendar</h2>
        <iframe id="2088476689" src="https://www.google.com/calendar/embed?src=4j1cm2rn4ttjgtpivqm5b79v98@group.calendar.google.com&amp;color=%23D96666&amp;mode=MONTH&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;showTabs=1&amp;showCalendars=0&amp;hl=en" title="Ghana Innovation Hub Events" width="100%" height="600" frameborder="0" scrolling="no"></iframe>    
    </div>
</div>
{% endblock %}
