{% extends "inc/layout.html" %}
{% block title %}gspace | Welcome To gspace {% endblock %}
{% block content %}
    <h2 id="welcome">Welcome To gspace</h2>
    <div id="intro">
        {% filter markdown %} {{ home['welcome'] }} {% endfilter %}
    </div>
    <div class="info_board_container">
        <div id="one">
            <div id="info_board">
                <h2>Upcoming Events</h2>
                <ul>
                    <li><a href="#">Mobile Monday</a>
                        <span id="meta">Tuesday 20 March, 2012 at 18:00 Hrs</span>
                    </li>
                    <li><a href="#">Mit School of Management</a>
                        <span id="meta">Monday 19 March, 2012 at 18:00 Hrs</span>
                    </li>
                    <li><a href="#">Virtual Fifa 2012 Championship</a>
                        <span id="meta">Thursday 22 March, 2012 at 09:00 Hrs</a></span>
                    </li>
                    <li><a href="#">GDC Monthly Meetup</a>
                        <span id="meta">Friday 23 March, 2012 at 09:00 Hrs</a></span>
                </ul>
                <a href="events">More...</a>
            </div>
        </div>
        <div id="two">
            <div id="info_board">
                <h2>Realtime updates <a href="http://twitter.com/gspace">@gspace</a></h2>
                <div class="tweet"></div>
                <a href="http://twitter.com/gspace">More...</a>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
    jQuery(function($){
        $(".tweet").tweet({
            username: "eyedol",
            count: 3,
            loading_text: "loading tweets..."   
        });
    });
</script>
{% endblock %}

