{% extends "inc/layout.html" %}
{% block title %}gspace{% endblock %}
{% block content %}
    <h2 id="welcome">Welcome To GSpace</h2>
                <div id="intro">
                    <strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Mauris suscipit urna quis orci feugiat faucibus. Nulla accumsan elementum nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed lorem felis, consectetur convallis euismod id, viverra in enim. Maecenas venenatis lobortis odio, ac fringilla turpis ultrices ut. Nulla nec lectus vitae metus aliquet ultricies. Sed vitae orci elit. Vivamus vitae purus ipsum.  
                </div>
                <div class="info_board_container">
                    <div id="one">
                    <div id="info_board">
                        <h2>Upcoming Events</h2>
                        <ul>
                            <li><a href="#">Mobile Monday</a>
                                <span id="meta">Tuesday 20 March, 2012 at 18:00 Hrs</span>
                            </li>
                            <li><a href="#">Mit School of Management</a>
                                <span id="meta">Monday 19 March, 2012 at 18:00 Hrs</span>
                            </li>
                            <li><a href="#">Virtual Fifa 2012 Championship</a>
                            <span id="meta">Thursday 22 March, 2012 at 09:00 Hrs</a></span>
                            </li>
                            <li><a href="#">GDC Monthly Meetup</a>
                            <span id="meta">Friday 23 March, 2012 at 09:00 Hrs</a></span>
                        </ul>
                        <a href="#">More...</a>
                    </div>
                </div>
                <div id="two">
                     <div id="info_board">
                         <h2>Jobs</h2>
                         <ul>
                            <li><a href="#">Java Developer Internship</a>
                                <span id="meta">Deadline: 16 April, 2012</span>
                            </li>
                            <li><a href="#">Web Interface Developer</a>
                                <span id="meta">Deadline: 31 March, 2012</span>
                            </li>
                            <li><a href="#">PHP / MySQL Web Developer</a>
                            <span id="meta">Deadline: 25 March, 2012</a></span>
                            </li>
                            <li><a href="#">Junior Web Developer</a>
                            <span id="meta">Deadline: 21 March, 2012</a></span>
                            </li>
                        </ul>
                        <a href="#">More...</a>
                    </div>
                </div>
            </div>
            <div id="wrapper">
                <article>     
                <p>Donec sagittis, <a href="#" title="GSpace">mauris</a> sed cursus tincidunt, quam neque commodo augue, vitae faucibus orci risus vitae lectus. Praesent eu dictum dui.Nulla vehicula, magna a tempor iaculis, <strong>enim sem gravida velit</strong>, ac pulvinar.  <br /><br /></p>
                </article>
            </div>

{% endblock %}
