{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}Membership{% endblock %}
{% block content %}
    <h2 id="welcome">Apply For Membership</h2>
    <div id="intro">
        If you are interested in becoming a 
        <span class="g">g</span><span class="space">space</span> 
        member, fill out the form below and we will notify you 
        when applications for membership are open. Alternatively,
        contribute in building this space and you will get a hassle free invite.
    </div>
    <div id="wrapper">
        <form id="membership" method="POST">
            <div id="show-messages">
            {%- for category, msg in get_flashed_messages(with_categories=true) %}
            <div class="flash flash-{{ category }}"><div class="flashmessage">{{ msg }}</div></div>
            {%- endfor %}
      </div>

            {{ form.hidden_tag() }}                          
                {{ renderfield(form.full_name, "small", autofocus=True) }}
                {% if not no_email %}{{ renderfield(form.email_address, "small") }}{% endif %}
            <input type="submit" value="Submit"/>
        </form>
    </div>

{% endblock %}
