$color-title-gs: #ff0000;
$color-logo-g: #009900;
$color-logo-space: #ff0000;
$color-logo-underline: #f7c51c;
$color-link: #644bc0;
$color-link-hover: #abd0f4;


$color-shadow: rgba(0, 0, 0, 0.4);
$color-header: #DDF7F5;
$color-sheet: #fff;
$color-sheet-border: #afafaf;
$color-post-date: gray;

$color-outline: #b7b7b7;
$color-outline-thin: #e8e8e8;

$color-listing-background: $color-outline-thin;
$color-listing-outline: $color-outline-thin;
$color-listing-even: #f6f6f6;
$color-listing-hover: #D9E8F0; //rgba(232, 232, 232, 0.8);
$color-header-outline: #000000;
$color-submit-button-background: #e6e6e6;
$color-submit-button-image: #d6d6d6;
